<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqhp5MU-3gUfzsTk_-V0yuI45oTN6VIaI</string>
	<key>GCM_SENDER_ID</key>
	<string>132480847786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techovative.emcshrm</string>
	<key>PROJECT_ID</key>
	<string>hrm-application-e0c99</string>
	<key>STORAGE_BUCKET</key>
	<string>hrm-application-e0c99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132480847786:ios:c546a2f1317eb89f7ea5d3</string>
</dict>
</plist>